/*=======Reset_Settings_of_pages=====*/

:root {
    --main-font-family:'Roboto',
        sans-serif;

    --second-font-family:'Raleway',
        sans-serif;

    --accent-color: #2E2F42;
    --second-color: #F4F4FD;
    --third-color: #434455;
    --logo-color: #4D5AE5;
    --fourth-color: #FFFFFF;
    --hover-color: #404BBF;
    --border-line-color: #E7E9FC;
    --icon-link-hover: #31D0AA;
    --icon-color: #8E8F99; 
    --background-modal: #FCFCFC;

    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--main-font-family);
    color: var(--third-color);
    font-size: 16px;
    background-color: var(--fourth-color);
}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*======/Reset_Settings_of_pages=====*/

/*=======Header=======*/
.page-header {
    border-bottom: 1px solid var(--border-line-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;  
   
}

.page-logo-web{
    display: block;
}

.page-navigation {
    display:flex;
    align-items:center;
}
.menu-list {
    display:flex;
    align-items: center;
    gap: 40px;
}
.menu-item {
    display: flex;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.current {
    position: relative;
    color: #404bbf;
    transition: color var(--transition-duration-and-func);
}

.current::after{
    position: absolute;
    left: 0;
    bottom:-1px;
    content:'';
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

    transition: background-color var(--transition-duration-and-func),
                border-radius var(--transition-duration-and-func);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--hover-color);
    }

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-list-link :last-child {
    margin-right: 0;
}

.contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color);

    transition: color var(--transition-duration-and-func);
}
.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--hover-color);
}
/*=======/Header=========*/

/*====Hero=====*/

.hero{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/bg.jpg");
    background-color: var(--accent-color);
}


.hero-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
    text-align: center;
    margin-bottom: 48px;
}

.hero-button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    min-width: 169px;
    height: 56px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;

    border:none;
    border-radius: 4px;

    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--fourth-color);

    transition: background-color var(--transition-duration-and-func);
               
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
/*======/Hero=====/

/*==Studio components==*/

.page-logo-web {
    font-family:var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);  
    margin-right: 76px;
}

.page-logo-dark {
    font-family: var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
} 

/*==section 2==*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advanteges{
    padding-top: 120px;
    padding-bottom: 120px;
}
.advanteges-gallery-list {
    display:flex;
    gap: 24px;
}
.advanteges-gallery-item:last-child{
    margin-right: 0;
}

.advanteges-gallery-item {
    flex-basis: calc((100% - 72px) / 4);
}
.advanteges-container-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    background-color: var(--second-color);
    border-radius: 4px;
    margin-bottom: 8px;
}
.title-second-h {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
   
}

.description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color);
   
}

/*==section 3==*/

.service{
    padding-bottom: 120px;
}
.service-gallery-list {
    display:flex;
    gap: 24px;
}

.service-gallery-item:last-child{
    margin-right: 0;
}
.service-gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

.service-gallery-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*==section 4==*/

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--second-color);

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    
}
.team-gallery-list {
    display: flex;
    gap: 24px;
}


.team-gallery-item:last-child {
    margin-right: 0;
}
.team-gallery-item {
    flex-basis: calc((100% - 72px) / 4);
    background-color: var(--fourth-color);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.title-first-h {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.team-content-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*icons-list*/
.social-list{
    display:flex;
    justify-content: center;
    gap: 24px;
}
.social-list-item{
    width: 40px;
    height: 40px;
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: var(--hover-color);
}

.social-list-link{
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--logo-color);

    transition: background-color var(--transition-duration-and-func);
}
.social-list-icon{
    fill: var(--second-color);
}
/*/icon-list*/

.text-pozition {
    text-align: center;
    margin-bottom: 8px;
}

/*==section 5==*/

.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-first-c {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}
.customers-icon-list{
    display:flex;
    gap:24px;
}
.customers-icon-item{
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-icon-item:last-child{
    margin-right: 0;
}
.customers-icon-link{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 168px;
    height: 88px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;    
    color: var(--icon-color);

    width: 100%;
    height: 100%;

    transition: border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}


.customers-icon-link:hover,
.customers-icon-link:focus{

    border-color: var(--hover-color);
    color: var(--hover-color); 
}

.customers-icon {
    fill: currentColor;
}

/*======/Sections=====*/

/*=====Footer=======*/

.page-footer-motto {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--accent-color);

    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-content{
    margin-right: 120px
}

.footer-logo-web{
    display: inline-block;
    font-family: var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-bottom: 16px;
  
}

.footer-logo-light {
    font-family: var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
}

.footer-description-light {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.social-media-title{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
    font-weight: 500;
    margin-bottom: 16px;
}
.social-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}
.social-media-list-item{

    width: 40px;
    height: 40px;
}
.social-media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--logo-color);

    transition: background-color var(--transition-duration-and-func);
}

.social-media-list-link:hover,
.social-media-list-link:focus {

    background-color: var(--icon-link-hover);
}

.social-media-list-icon {

    fill: var(--second-color);
}
/*=====/Footer=======*/

/*=====Portfolio====*/

.filter-buttons{
    padding-top: 96px;
    padding-bottom: 120px;
}
.filter-buttons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-button-item:last-child{
    margin-right: 0;
}
/*==Portfolio_components==*/

.filter-button {

    border: 1px solid var(--border-line-color);
    border-radius: 4px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--second-color);
    color: var(--logo-color);
    transition: color  var(--transition-duration-and-func),
            background-color var(--transition-duration-and-func), 
            border-color var(--transition-duration-and-func),
            box-shadow var(--transition-duration-and-func);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--fourth-color);
    background-color: var(--hover-color);
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*===/Portfolio components==*/

.title-first {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 8px;
}

.projects-gallery-list {
    display: flex;
    flex-wrap: wrap;
   
    column-gap: 24px;
    row-gap: 48px;
}

.project-gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

.project-gallery-item:nth-child(2n+1){
    margin-right:0;}

.gallery-link{
    display: block;
    transition: box-shadow var(--transition-duration-and-func);
}
.gallery-link:hover,
.gallery-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-gallery-img{
    background: var(--logo-color);
}

.gallery-content-text {
    padding: 32px 16px;

    background: var(--fourth-color);
    border: 1px solid var(--border-line-color);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.project-gallery-img-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
 
    color:var(--second-color);
    background-color: var(--logo-color);

    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform var(--transition-duration-and-func);
}

.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
    transform: translateY(0%);
}

/*=====/Portfoio/=====*/

/*===Modal===*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;   
    transition: opacity var(--transition-duration-and-func),
                visibility var(--transition-duration-and-func);
}   
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    background-color: var(--background-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform  var(--transition-duration-and-func);   
}
.modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background: var(--border-line-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;   

    transition: background-color var(--transition-duration-and-func), border var(--transition-duration-and-func);
}

.close-btn {
    transition: fill var(--transition-duration-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: var(--hover-color);
    border: none;
    fill: #ffffff;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}